<% if @issue.nil? && User.current.allowed_to?(:manage_issue_relations, @project) %>
  <li><%= context_menu_link l("label_relates_to"), bulk_new_issue_relations_path(issue_id: @issue_ids.first, :ids => @issue_ids) %></li>
<% end %>