<% unless @issue %>
  <li><%= context_menu_link l("label_relates_to"), bulk_create_issue_relations_path(issue_id: @issue_ids.first, :ids => @issue_ids, relation_type: IssueRelation::TYPE_RELATES), :method => :post %></li>
<% end %>